h1, h2, h3 {

	text-align: center;

}

h1 { color: #111; 
font-family: 'Helvetica Neue', sans-serif; 
font-size: 40px; 
font-weight: bold; 
letter-spacing: -1px; 
line-height: 1; 
}

html,
body {
  height: 100%;
  margin: 0;
}




.container{
 min-height:100%;
 width: 100%;
 font-size: 18px;
}

}

.footer{
 height:40px;
 margin-top:-40px;
}


project-img {
  
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
   
}


#skills {
	margin: 10px auto;
	text-align: center;
}

#skills_header {


	margin: 20px auto;

}


p {
	
	text-align: center;

}


.my_work {

	display: block;
	text-align: center;
	margin: 0 auto;
	width: 110px;
	margin-bottom: 30px;
	}

#about_me {

		margin: 20px auto; 
	
}


section {
    
    display: block;
    padding: 5px;
    box-sizing:border-box;
}


#profile_img {

	display: block;
	margin: 0 auto;
	border-radius: 25px;
	width: 200px;
	height:200px;
}



.first-project {
	
	display: block;
    margin: 0 auto;
    padding: 0;
   
}

.source-code {
	
	display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px
}


.next-project {

	
}


.arrow {
	display: block;
	margin: 0 auto;
	height: 40px;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px  !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

h4 {
	display: block;
	margin: 0 auto;
	text-align: center;

}

.email-icon {

	display: block;
	margin: 0 auto;
	text-align: center;
}


#navbar {
  display: inline-block;
  position: fixed;
  left :0;
  top : 0;
  height: 100%;
  opacity: 0.5;

}



#navbar ul {

  padding-left: 4px;
  padding-right: 5px;  
}





#navbar  li {

  list-style-type: none;
  margin-top: 15px;
  margin-left: 0;
  padding-bottom:  25px; /* Add some padding */
  padding-left: 0;



}


#navbar li a {
  text-decoration: none;
  color: black;
  border-style: black, 2px;

}

#line {

  color: #f00;
}




@media only screen and (min-width : 300px) {
  .container, .container-fluid {
    padding-left: 50px; 
  }
}

}


/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C0C0C0;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}




#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
